doctype html
html
    head
        meta(charset="UTF-8")
        title CARTA Dashboard
        if googleClientId
            script(src='https://accounts.google.com/gsi/client' async defer)
        link(href="dashboard/templated.css" rel="stylesheet" type="text/css")
        link(rel='stylesheet' href='dashboard/notyf.min.css')
        link(rel='shortcut icon' href='dashboard/carta_icon_128px.png')
        title CARTA Dashboard
        script(src='dashboard/notyf.min.js')
        script(src='dashboard/dashboard.js')
    body
        .center#main-div
            .signin-dialog
                if bannerImage
                    .banner(style="background-color: " + bannerColor)
                        img(src=bannerImage height="60" style="display: block; margin: auto" alt="site_banner")
                .logo
                    .spacer
                    img(src="dashboard/images/carta_logo.svg" alt="carta_logo")
                    .titletext
                        | CARTA #{controllerVersion}
                        br
                        span(style="font-size: 13px; font-weight: lighter") Cube Analysis and Rendering Tool for Astronomy
                        br
                .login-form
                    .bodytext
                        if infoText
                            | !{infoText}
                            br
                        if loginText
                            | !{loginText}
                    if googleClientId
                        .sso-buttons
                            div#g_id_onload(data-client_id=googleClientId, data-ux_mode="redirect" data-login_uri=googleCallback data-auto_prompt='false')
                            .g_id_signin(data-type="standard" data-size="large" data-theme="filled_blue" data-width="220" data-height="46")
                    else if oidcClientId
                        .formcontainer
                            button.button.button-signin#oidcLogin SIGN IN
                    else
                        .formcontainer
                            input#username(type="text" placeholder="Username" required="")
                            br
                            input#password(type="password" placeholder="Password" required="")
                            br
                            button.button.button-signin#login SIGN IN
                    p#login-status(style='display: none')
                .carta-form(style='display: none')
                    .bodytext
                        if infoText
                            | !{infoText}
                    .formcontainer
                        button#open.button.button-newsession NEW CARTA SESSION
                        br
                        button#stop.button.button-restart RESTART CARTA SERVICE
                        br
                        button#show-logs.button.button-logs SHOW LOGS
                        br
                        button#logout.button.button-logout LOGOUT
                        p#carta-status(style='display: none')
            .footer
                if footerText
                    | !{footerText}
        #log-modal
            p#log-output
            .log-buttons
                button#refresh-logs.button.button-logs REFRESH
                button#hide-logs.button.button-logs HIDE
